input, textarea, label{
    display:block;
    margin-bottom: 10px;
    font-size: 20px;
}

input, textarea {
    padding: 5px 10px;
}

input, textarea{
    width: 100%;
}

.headerLabel{
    font-size: 25px;
    font-weight: bold;
}